    <%- partial('_partial/_index/nav') %>
        <div class="row">
            <div id="main" class="col m8 xx-ng">
                <div class="view" data-view="1" style="display: none">
                    <%- partial('_partial/_index/house') %>
                </div>
                <div class="view" data-view="2">
                    <%- partial('_partial/_index/notes') %>
                </div>
                <div class="view" data-view="3">
                    <%- partial('_partial/_index/video') %>
                </div>
                <div class="view" data-view="4">
                    <%- partial('_partial/_index/house_group') %>
                </div>
                <div class="view" data-view="5">
                    <%- partial('_partial/_index/stock') %>
                </div>
                <div class="view" data-view="6">
                    <%- partial('_partial/_index/google_map') %>
                </div>
            </div>
            <%- partial('_partial/sidebar') %>
        </div>
