<div class="row" id="single-page">
  <%- partial('_partial/sidebar') %>
    <div class="col s8 xx-np xx-ng" id="single-content">
        <div id="single_breadcrumb" class="xx-hide s-show">
            <%- partial('_partial/_function/breadcrumb_init') %>
        </div>
        <article class="col xx-12 x-p s-2p">
            <h1 class="article-title"><%= page.title %></h1>
            <div class="article-meta">
                <span><%= page.date.format(theme.dateformatindex) %></span><span> / </span>
                <span><a href="<%- url_for(cPath(page))%>"><%- cName(page) %></a></span><span> / </span>
                <span>
                  <%- partial('_partial/_function/show_tags', {post: page}) %>
                </span>
            </div>
            <%- page.content %>
            <div class="clearfix"></div>
            <div class="fb-like" data-href="<%= page.permalink %>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

        </article>
        <% if (theme.disqus_shortname){ %>
        <div id="comments">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = '<%= theme.disqus_shortname %>';
                <% if (page.permalink){ %>
                var disqus_url = '<%= page.permalink %>';
                <% } %>
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
        <% } %>
    </div>
</div>
